.NavigationBar {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.NavigationBar > a{
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}


.NavItemSelected {
    background-color: red;
    color: white;
    border-radius: 5px;
}

.brand {
    font-size: 20px;
    font-weight: bold;
}