body {
    font-family: "Roboto";
  }
  
.blog-post-container {
    display: flex;
    flex-direction: row;
    padding: 16px;
}

.blog-post-topics {
    width: 15%;
    margin-right: 20px;
}

.blog-post-topic {
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
    background-color: aliceblue;  
}

.blog-post-topic > a  {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.blog-post {
    width: 45%;
}